<h1>Portfolio Items<h1>

	<!--<%= link_to 'Create New', new_portfolio_path %> --> <!--creating link to new page -->

<%= link_to '<button type="button">Create new</button>'.html_safe, new_portfolio_path %>

<!-- <a href="Portfolios/new">Create new item</a> --> <!--creating href to new page -->


<!-- to check what did the portfolio path and url looks like-->	
<!--
<p><%=new_portfolio_path%></p>
<br>
<p><%=new_portfolio_url%></p>
-->
	<% @portfolio_items.each do |portfolio_items| %>

	<!-- before overriding the resounces -->
	<!-- <p><%= link_to portfolio_items.title, portfolio_path(portfolio_items.id) %></p> --> 

	<!-- after overriding the resources -->
	<p><%= link_to portfolio_items.title, portfolio_show_path(portfolio_items.id) %></p> 

	<!--we can also remove the .id call in path this will still works the same -->

	<p><%= portfolio_items.subtitle %></p>
	<p><%= portfolio_items.body %></p>
	<%= image_tag portfolio_items.main_image unless portfolio_items.main_image.nil? %>
	<%= image_tag portfolio_items.thumb_image unless portfolio_items.thumb_image.nil? %>
	
	<!-- via text link -->
	<!-- <%=link_to 'Edit', edit_portfolio_path(portfolio_items.id)%> -->	

	<!-- via button and we can also remove the .id call in path this will still works the same-->
	<%=link_to '<button type="button">Edit</button>'.html_safe, edit_portfolio_path(portfolio_items.id)%>

    <%= link_to '<button type="button">Delete</button>'.html_safe, portfolio_path(portfolio_items.id), method: :delete, data: { confirm: 'Are you sure?' } %>


	<% end %>