<h1>Selected Item Display</h1>

<%= image_tag @portfolio_items.main_image unless @portfolio_items.main_image.nil? %>
<%= image_tag @portfolio_items.thumb_image unless @portfolio_items.thumb_image.nil? %>
<h1><%= @portfolio_items.title %></h1>
<em><%= @portfolio_items.subtitle %></em>
<p><%= @portfolio_items.body %></p> 